# Puerto en el que se levanta el servidor
PORT=3000

# --- Variables que se usaran en el Modulo 7 (base de datos) ---
# DB_HOST=localhost
# DB_PORT=5432
# DB_NAME=node_express_app
# DB_USER=postgres
# DB_PASSWORD=

# --- Variable que se usara en el Modulo 8 (JWT) ---
# JWT_SECRET=
