# Puerto en el que se levanta el servidor
PORT=3000

# --- Variables de conexion a PostgreSQL (Modulo 7) ---
DB_USER=postgres
DB_HOST=localhost
DB_NAME=node_express_app
DB_PASSWORD=
DB_PORT=5432

# --- Variable que se usara en el Modulo 8 (JWT) ---
# JWT_SECRET=